html {
  font-family: "Rozha One", serif;
  background-color: #a186b1;
  color: #f2f3f1;
}

h1 {
  border-bottom: .25em solid #f2f3f1;
}

.weather {
  font-family: Satisfy, cursive;
}

.home {
  color: #414242;
}

strong, .amp {
  color: #414242;
}

.amp {
  font-family: "Rozha One", serif;
}
