html {
  font-family: "Rozha One", serif;
  background-color: #a186b1;
  color: #f2f3f1;
}

h1 {
  border-right: 3px solid white;
}

.weather {
  font-family: 'Satisfy', cursive;
}

.home {
  color: #414242;
}

strong, .amp {
  color: #414242;
}

.wind {
  text-align: left;
}

.amp {
  font-family: "Rozha One", serif;
}
